<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070634183825-e72sfh0gehhkot8hifd38c7sknmds4pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070634183825-e72sfh0gehhkot8hifd38c7sknmds4pb</string>
	<key>API_KEY</key>
	<string>AIzaSyClLZZoHBiVtZW1IVmGMk4wZlkWcv7Vc5U</string>
	<key>GCM_SENDER_ID</key>
	<string>1070634183825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Like-Follower</string>
	<key>PROJECT_ID</key>
	<string>tiktok-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070634183825:ios:724c7ffd7692e5aa1da330</string>
	<key>DATABASE_URL</key>
	<string>https://tiktok-react-native.firebaseio.com</string>
</dict>
</plist>